{% extends '::base.html.twig' %}
{% block body_classes%}container-fluid{% endblock %}
{% block title %}Espace d'administrateur{% endblock %}

{% block stylesheets %}
<link href=" {{ asset('css/bootstrap/css/bootstarp.min.css') }} "
      rel="stylesheet" />
{% endblock %}

{% block body %}
    <form class="navbar-form pull-left">
        <input type="text" class="span2">
        <button type="submit" class="btn">Submit</button>
    </form>
{% endblock %}

{% block javascripts %}
<script src=" {{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

