{% extends '::base.html.twig' %}
{% block body_classes%}container-fluid{% endblock %}
{% block title %}Espace d'administrateur{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet" />
<link href="{{asset('css/AdminBundle__login.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="valign-container">
    <div class="valign-sub-container">
        <form class="hero-unit">
            <h1>Bienvenue</h1>
            <div class="row-fluid">
                <label class="span5"> Nom d'utilisateur :</label>
                <input class="span7" type="text" >
            </div>
            <div class="row-fluid">
                <label class="span5"> Mot de passe :</label>
                <input class="span7" type="text" >
            </div>

            <input type="submit" class="btn-large btn-primary" 
                   value="Connecter" />
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src=" {{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

