{# this template file indicates the layout of the website #}
{% extends '::base.html.twig'%} 
{% block html_classes%}wrap{% endblock %}
{% block body_classes%}grids{% endblock %}
{% block title %}Bienvenue dans mon blog{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/toast/toast.css') }}" rel="stylesheet" />
<link href="{{ asset('css/base.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="header" class="grid-12">
    <div class="grid-3"> <h1>YB</h1> </div>
    <form class="grid-9" id="search_form">
        <input type="text" name="keywords"/>
        <input type="submit" value=" " /> 
    </form>
</div>
<div id="content" class="grid-12">
    <div class="grid-9 content_box" id="news_zone">
    </div>
    <div class="grid-3 content_box" id="nav_zone">
    </div>
</div>
{% endblock %}

