body{
    background: #555 ;
}

form.hero-unit{
    max-width: 400px;
    box-shadow: 0 0 5px #000;
    text-align: center;
    width: 98%;
    margin: auto;
    padding: 30px;
}

form.hero-unit h1{
    margin-bottom: 10%;
    text-align: center;
}

form.hero-unit [type="submit"]{
    margin-top: 10%;
}

body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.valign-container{
    display: table;
    height: 100%;
    width: 100%;
}

.valign-sub-container{
    display: table-cell;
    vertical-align: middle;
}
