html{
    background: url("../img/textures/linen.png");
}

html:before{
    content: " ";
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}
/* LOGO --------------------------------------------------------------------*/
#header{
    margin-top: 0;
    height: 100px;
    border-top: 4px solid #F3E163;
    margin-bottom: 20px;
}

#header h1{
    background: url("../img/textures/yellow.jpg");
    padding: 20px;
    text-shadow: 0 1px #fff;
    border: 1px #fff inset;
    border-top: none;
    margin: auto;
    margin-top: 0;
    width : 50%;
    max-width: 100px;
    text-align: center;
    /*display: inline-block;*/ 
}

/* SEARCH FORM ---------------------------------------------------------------*/
#search_form{
    padding: 3%;
    text-align: center;
}

#search_form input{
    padding: 1%;
    border-radius: 0;
}
#search_form input[type="text"]{
    border: 4px black solid;
    width: 70%;
}

#search_form input[type='submit']{
    background: url("../img/ico/search.png");
}



/* CONTENT -------------------------------------------------------------------*/
.content_box{
    border: 2px #F3E163 solid;
    background: url("../img/textures/farmer.png");
    box-shadow: 5px 5px #555;
    height: 200px;
}

#news_zone{
    margin-left: 1%;
}

#nav_zone{
    margin: 0 1% 0 1%;
    margin-top: 0;
    background-color: #333;
    
}
